.post {
    background: white;

    .container {
        padding: 20px;

        .user {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .user-info {
                display: flex;
                gap: 10px;
                // justify-content: center;
                // align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                    object-fit: cover;
                    border-radius: 50%;
                }


                .detail {
                    display: flex;
                    flex-direction: column;
                    .name{
                        font-weight: 900;
                        font-size: 20px;
                    }
                    .time{
                        font-size: 14px;
                    }


                }

            }
        }

        .content {
            margin: 20px 0px;


            img {
                width: 100%;
                max-height: 400px;
                margin-top: 10px;
            }
        }

        .info {
            display: flex;
            // gap: 30px;
            justify-content: space-between;
            .left{
                display: flex;
            gap: 30px;
                .items {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;
                    
                }
            }
            .right{

                
                .items {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    
                    
                }
            }
        }

    }
}