

.navbar{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(198, 195, 195);
    position: sticky;
    top: 0;
    z-index: 999;
  
    .left{
        display: flex;
        align-items: center;
        gap: 30px;
        span{
            // color: $mycolor;  
            font-size: 20px;
            font-weight: bold;
        }
        .search{
            
            display: flex;
            align-items: center;
            border:1px solid rgb(175, 175, 175);
            border-radius: 5px;
            padding:5px;
            gap:10px;
            input{
                border: none;
                width: 500px;
        
            }
        }

    }
    .right{
        display: flex;
        align-items: center;
      
        gap: 20px;
        .user{
display: flex;
align-items: center;
gap: 5px;
            img{
                width: 30px;
                object-fit: cover;
                border-radius: 50%;
            }
            span{
                font-weight: 800;
            }
        }
    }
}