.profile {
  // position: relative;
  padding: 20px;

  .images {
    width: 100%;
    height: 250px;
    position: relative;

  
   
    

    .cover {
      width: 100%;
      height: 100%;
      


      display: flex;
      img{
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
      .coverSpinner{
        margin:auto;
       }
    }

    .pic {
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      width: 150px;
      height: 150px;
      position: absolute;
     
      left: 0;
      right: 0;
      top: 175px;
      margin: auto;
      border-radius: 50%;
      z-index: 1;
      // text-align: center;
      box-shadow: black;
      display: flex;
      img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
      object-fit: cover;
    }
    .profileSpinner{
    // align-self: center;
    margin: auto;
    }
  }

    .container {
      width: 400px;
      height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        background: white;
      position: absolute;
     
      padding: 0px;
     
      z-index: 1;
      border: 0.5px solid black;

      bottom: -110px;
      left: calc(50% - 200px);

      img {
        // width: 100px;
        width: 100%;
        height: 100%;
        // height: 100px;
        // border-radius: 50%;
        object-fit: cover;
      }

      .btn {
        position: absolute;
        z-index: 1;
        border: none;
        border-width: thin;
        cursor: pointer;
        width: 80px;

        font-size: 14px;
        padding: 2px;
        background: rgba(59, 59, 59, 0.144);
        color: rgb(255, 255, 255);
      }

      .edit-btn {
        text-align: center;
        right: 10px;
        bottom: 5px;
      }

      .okbtn {
        bottom: 5px;
        right: 100px;
      }

      .btn:hover {
        background: rgba(204, 203, 203, 0.664);
      }

      .canclebtn {
        position: absolute;

        z-index: 1;
        width: 60px;
        //   border-width: thin;
        border: none;
        cursor: pointer;
        font-size: 14px;
        right: 0px;
        top: 0px;
        //   background: rgba(165, 165, 165, 0.363);
        background: rgba(165, 165, 165, 0.144);
      }

      .canclebtn:hover {
        background: rgba(255, 36, 36, 0.774);
      }
    }

    // .coverContainer{
    //     img{
    //         width: 100px;
    //         height: 100px;
    //         border-radius: 50%;
    //         object-fit: cover;
    //     }
    //     button{
    // width: 80px;
    //     }

    // }
    // .profileContainer{
    //     background: rgb(131, 131, 175);
    //     img{
    //         // width: 100px;
    //         width: 100%;
    //         height: 100%;
    //         // height: 100px;
    //         // border-radius: 50%;
    //         object-fit: cover;
    //     }
    //     .okbtn{
    //         position: absolute;
    // width: 80px;
    //     }
    // }
  }

  .profileContainer {
    // background: yellow;
    padding: 20px 50px;
    position: relative;

    .userInfo {
      height: 180px;
      // background-color: greenyellow;
      display: flex;
      // justify-content: space-between;
      align-items: center;
      box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 18px -5px rgba(0, 0, 0, 0.75);
      padding: 30px;
      margin-bottom: 20px;

      .left {
        flex: 1;
        display: flex;
        align-items: center;
        // justify-content: center;
        gap: 10px;
      }

      .center {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        align-items: center;

        gap: 15px;

        .info {
          display: flex;
          width: 100%;
          justify-content: space-around;
          align-items: center;

          .items {
            display: flex;
            align-items: center;
            gap: 2px;
          }
        }

        button {
          border: none;
          padding: 8px;
          // height: 30px;
          cursor: pointer;
          color: white;
          font-weight: 600;
          border-radius: 5px;
          background-color: rgb(0, 153, 255);
        }
      }

      .right {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
      }
    }
  }
}
